<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}
  <h1> Here comes my content that is injected to layout.njk!</h1>
  <p>testing</p>
  {% include "../components/test-component.njk" %}
{% endblock %}